<form method="post">
    性別:
    <select name="sex">
        <option value="male">男性</option>
        <option value="female">女性</option>
    </select><br>
    身長(cm): <input type="number" name="height"><br>
    体重(kg): <input type="number" name="weight"><br>
    年齢: <input type="number" name="age"><br>
    目標:
    <select name="goal">
        <option value="macho">マッチョ</option>
        <option value="fitmacho">細マッチョ</option>
        <option value="fat">デブ</option>
    </select><br>
    <input type="submit" value="計算">
</form>
